/* >>>>>>   BODY    <<<<<<<*/
body {
    background-color: rgb(var(--color-base-background-1));
    font-family: "NeueMontreal-Regular", sans-serif;
    color: rgb(var(--color-base-text));
    margin: 0;
    padding: 0;
}

/* >>>>>>   HEADER    <<<<<<<*/

/* Header Styles */
header {
    background-color: rgb(var(--color-base-background-1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin-bottom: 0px;
}

header .logo {
    max-width: 100px;
    margin-left: 35px;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        max-width: 80px; 
        margin-left: 20px; 
    }
}

/*Navigation List*/

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
}

/* texts for navigations */ 
nav a {
    display: flex;
    text-decoration: none;
    color: rgb(var(--color-base-text));
    font-weight: bold;
    font-size: 18px;
    transition: font-size 0.3s ease;
    /*responsive for smaller screens */
    @media screen and (max-width: 800px) {
        font-size: 13px; 
    }
}

nav a:hover {
    font-size: 20px;
}

/* cart and login*/
.user-actions .action-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

/*cart*/
.user-actions a img {
    max-height: 30px;
    margin-left: 0;
    padding-left: 30px;
}

/*login*/
.btn-login{
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color: #dd3b30;
    color: white;
    text-decoration: none;

     /*responsive for smaller screens */
     @media screen and (max-width: 800px) {
        font-size: 12px; 
        padding: 4px 10px; 
    }
    
    /*transition for hover*/
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-login:hover {
    background-color: #333;
    color: black;
}



/*** ABOUT US******/


p {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 100px;
    line-height: 1.5;
    font-size: 1em;
    text-align: justify;
    
    
}

.container {
    display: flex;
    width: 1200px; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: justify;
    justify-content: center;
   
}

.about-cntainer {
    width: 1200px; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: justify;
    justify-content: center;
   
}

nav a {
    text-decoration: none;
    color: rgb(var(--color-base-text));
    font-weight: bold;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

nav a:hover {
    font-size: 20px;
}
.user-actions .action-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.user-actions a img {
    max-height: 30px;
    margin-left: 0;
    padding-left: 30px;
}

.btn-login,
.btn-reservation,
.btn-order-now {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-login:hover,
.btn-reservation:hover,
.btn-order-now:hover {
    background-color: #333;
    color: black;
}

/* Button Styles */
.btn-login {
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color: #dd3b30;
    color: white;
}

.btn-reservation,
.btn-order-now {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #dd3b30;
}





.hero {

    width: 100%;
    height: 100%;

}



.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:40px;
}
.team-staff{
	margin-left: 40px;
	margin-right: 300px;
	
}
.team-staff p{
	margin-top:20px;
	margin-left:40px;
    margin-right : 100px;
	margin-bottom: 20px;
   text-align: justify;
}

		
.circle{
            border-radius: 50%; 
            width: 250px; 
            height: 250px; 
            overflow: hidden; 
			
        }
        
.image {    width: 50%;
            margin-right: 0px;
            text-align: right; 
			
        }

.text {
	width: 50%;
	margin-left: 20px;
	 
}	

.separator-line {
    border-top: 1px solid rgb(var(--color-base-text));
}

/* >>>>>>   FOOTER    <<<<<<<*/

/* Footer Styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;


}

#map {
    max-width: 300px; 
    width: 100%; 
    border: none;
    display: flex;
    margin-left: 20px;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        display: none; 
    }
}

/* Contact Us and address/ phone number*/
footer .footer-left {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1235px) {/* Logo being responsive for smaller screens */
        display: none; 
    }

}

/*contactus style*/
footer .footer-left a {
    color: white;
    margin-top: 0;
    font-size: 25px;
    text-decoration: underline;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        display: none; 
    }

}


footer address {
    margin-top: 10px;
    font-size: large;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        display: none; 
    }

}

/* logo bottom style */
.footer-middle{
    width: 250px;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        width: 150px;
        margin: auto; 
    }
    }

/* Table contents */
.footer-right{
    margin: 15px;
    @media screen and (max-width: 800px) {/* Logo being responsive for smaller screens */
        display: none; 
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}

caption {
    font-size: 1.2em;
    margin-bottom: 5px;
}



